<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="list">
    <div class="header">Event Management App</div>
    <div class="main">Text to Speech</div> <br>
    <form class="el-form" size="mini">
      <label>Text</label>
      <textarea [(ngModel)]="text"></textarea>
      <button type="submit" class="el-button" (click)="sendText()">Get Speech</button>
    </form>
  </div>
</body>
</html>