* {
  padding: 0;
  margin: 0;
}
.list {
  text-align: center;
}
.header {
  width: 98%;
  font-family: "Times New Roman", serif;
  height: 156px;
  margin: 10px;
  background: #3498db; 
  color: #fff; 
  font-weight: 900;
  line-height: 156px;
  font-size: 80px;
}
p {
  margin-bottom: 40px;
  color: #3498db; 
}
.el-form {
  width: 60%;
  margin: 0 auto; 
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #3498db; 
  padding: 8px;
  text-align: center;
}
th {
  background-color: #3498db; 
  color: white; 
}
.el-button {
  background-color: red; 
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.el-button:hover {
  background-color: darkred ; 
}
input[type="text"], textarea {
  width: 100%; 
  padding: 8px; 
  box-sizing: border-box; 
}
body {
  font-family: "Times New Roman", serif; 
}
.text-primary {
  font-family: "Times New Roman", serif; 
}
h1 ,h2, h3 {
  font-family: "Times New Roman", serif; 
  text-align: center;
}
p {
  font-family: "Times New Roman", serif; 
}