&nbsp;
<a routerLink="/33279500/add-category" class="button-link">Add Category</a>
&nbsp;
<a routerLink="/33279500/event-categories" class="button-link">Category List</a>
&nbsp;
<a routerLink="/33279500/delete-category" class="button-link">Delete Category</a>
&nbsp;
<a routerLink="/33279500/update-category" class="button-link">Update Category</a>
&nbsp;
<a routerLink="/33279500/stats-g1" class="button-link">Stats G1</a>
&nbsp;
<a routerLink="33279500/text-to-speech" class="button-link">Text To Speech</a>

<br> <br>

&nbsp;
<a routerLink="/YantaoHe/add-event" class="button-link">Add Event</a>
&nbsp;
<a routerLink="/YantaoHe/list-events" class="button-link">List Events</a>
&nbsp;
<a routerLink="/YantaoHe/delete-event" class="button-link">Delete Event</a>
&nbsp;
<a routerLink="/YantaoHe/update-events" class="button-link">Update Event</a>
&nbsp;
<a routerLink="/YantaoHe/stats-events" class="button-link">Status Of Event</a>
&nbsp;
<a routerLink="/YantaoHe/translate" class="button-link">Translate</a>

<router-outlet></router-outlet>