<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management App</title>
</head>
<body>
  <div class="list">
    <div class="header">Event Management App</div>
    <div class="list">
      <div class="welcome">
        <h2 style="font-size: 36px;">Welcome to Our Event Management App</h2>
        <p style="font-size: 18px;">Here, you can create, view, and manage various events and activities.</p>
      </div>
    </div>
  </div>
</body>
        